.header {
  padding: 40px 20px;
  text-align: center;
  background: radial-gradient(circle at top, #020617, #020617);
}

.header h1 {
  font-size: 42px;
  margin: 0;
  color: #ffffff;
}

.header p {
  margin-top: 10px;
  font-size: 18px;
  color: #9ca3af;
}
